@charset "utf8";

/* font */
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
    box-sizing: border-box;
    margin    : 0;
}

:root {
    --bg-color      : white;
    --main-color    : black;
    --main-color-a  : limegreen;
    --main-color-b  : orangered;
    --accent-color-a: greenyellow;
    --accent-color-b: orange;
}

#container {
    display        : flex;
    flex-direction : column;
    width          : 100%;
    height         : 100vh;
    align-items    : center;
    justify-items  : center;
    align-content  : center;
    justify-content: center;
    font-family    : "VT323", monospace;
}

#stat {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-wrap      : wrap;
    padding        : 10px;
}

#stat * {
    font-family: "VT323", monospace;
    font-size  : 1.2em;
    font-weight: bold;
}

#stat>*:not(:last-child) {
    margin-right: 10px;
}

#loops {
    width     : 8em;
    text-align: right;
}

.btn {
    /* display: inline-block; */
    background-color: transparent;
    border          : solid 2.5px var(--main-color-a);
    cursor          : pointer;
    outline         : none;
    width           : 6em;
    padding         : 4px;
    /* margin-right : 10px; */
}

.btn:hover {
    border: solid 2.5px var(--accent-color-a);
}

.btn:disabled {
    border: solid 2.5px coral;
}

.btn:focus {
    outline: solid 2.5px var(--accent-color-a);
}

#start.run {
    border: solid 2.5px var(--main-color-b);
}

#start.run:hover {
    border: solid 2.5px var(--accent-color-b);
}

#start.run:focus {
    outline: solid 2.5px var(--main-color-b);
}

#reset {
    width  : 1.8em;
    padding: 2px;
}

#param {
    display        : flex;
    flex           : 0 0 100%;
    font-size      : 1em;
    justify-content: center;
    padding        : 10px;
}

#param label {
    margin: 0 0.4em;
}

#param hr {
    margin: 0 .5em;
}

#param input {
    width        : 3em;
    font-size    : 1em;
    border       : none;
    border-bottom: solid 2.5px var(--main-color-a);
    text-align   : right;
}

#slider[type='range'] {
    -webkit-appearance: none;
    align-self        : center;
    appearance        : none;
    cursor            : pointer;
    outline           : none;
    height            : .5em;
    width             : 12em;
    background        : var(--accent-color-a);
    /** [DONT WORK!]
    background     : linear-gradient(
        to right,
        var(--accent-color-a) calc(attr(value) / attr(max) * 100),
        gray calc(attr(value) / attr(max) * 100));*/
    border            : solid 2px var(--bg-color);
    /* border-radius  : 4px; */
}

#slider[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background        : var(--main-color-a);
    width             : 1em;
    height            : 1em;
    border-radius     : 10%;
    box-shadow        : 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}

#slider[type="range"]:active::-webkit-slider-thumb {
    outline: solid 2.5px rgba(0, 0, 0, .10);
}

#spanTW {
    width     : 5em;
    text-align: right;
}

#check {
    display: none;
}

#lbl-check {
    border-bottom: solid 2.5px gray;
    color        : gray;
    user-select  : none;
}

#check:checked+#lbl-check {
    border-bottom: solid 2.5px var(--main-color-a);
    color        : var(--main-color-a);
}

#check+#lbl-check:hover {
    border-bottom: solid 2.5px var(--accent-color-a);
}

#canvas {
    display: block;
    width  : calc(80vmin);
    margin : 0 auto;
}

.icon {
    width            : 1em;
    height           : 1em;
    display          : inline-block;
    vertical-align   : middle;
    /* SVG file is powered by Google. thanks! */
    background-image : url("../icon/restart_alt_black_24dp.svg");
    background-repeat: no-repeat;
    background-size  : 100% 100%;
}

.icon.icon-reset {
    background-position: 0em 0em;
}